.book-item {
    display: flex;
    // width: 500px;
    margin-bottom: 3rem;

    .book-info {
        padding-left: 1rem;
        text-align: left;

         p {
            margin: .5rem 0;
         }
    }

    img {
        width: 100px;
        height: 150px;
        border-radius: 3px;
        box-shadow: 0 .1rem .2rem rgba(0,0,0,.2);
    }
}
